.number-plate-box-contents{
    flex: 25%;
    flex-grow: 0;
}

.number-plate-box{
    padding: 10px;
}

.number-plate-box span{
    padding-left: 5px;
}

input[type=checkbox] {
    transform: scale(1.5);
}