.lotto-random-header{
    margin-top: 50px;
    width: 100%;
    height: 100px;
    border: 1px solid #aeaeae;
    display: flex;
}

.lotto-title{
    width: 300px;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
}